.editProjectForm {
	img {
		max-width: 25rem;
		width: 100%;
	}

	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.editProjectItem {
		max-width: 30rem;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	select {
		border-radius: 15px;
		font-weight: 600;
		font-size: 1.25rem;
		padding: 1rem;
		option {
			font-weight: 600;
			font-size: 1.25rem;
		}
	}
}
